/* Theme styles.
 * =============
 * These are the separate styles for theme_stagetwo. They should not include
 * colours or any other variable that would be controlled by the theme preset
 * or settings.
 */

/* Give drawer an opaque background colour.
 * ----------------------------------------
 * Note: This breaks the rule above - cannot use opacity as that would affect
 * all child elements too, therefore uses a pale grey with alpha channel bkg. */
[data-region="drawer"] {
    background-color: rgba(100, 100, 100, 0.6)
}

/* Give headings in the header an outline shadow.
 * ----------------------------------------------
 * This ensures they will stand out whatever the background image used. */
header#page-header .page-header-headings h1 {
    text-shadow: $brand-primary 0 0 4px;
}

/* Centre the social icons in the footer.
 * -------------------------------------- */
.socials_wrapper {
    margin:0 auto;
    .socials {
        text-align:center;
        margin-bottom:0;
    }
}

/* Correct header navbar height bug.
 * --------------------------------- */
.navbar {
    padding: 10px 15px 15px;
    .navbar-brand {
        padding-top: 0;
    }
}

/* Give page header border and radius.
 * ----------------------------------- */
#page-header {
    .card {
        border-radius: $border-radius-lg;
        border:3px solid $brand-primary;
        box-shadow: 2px 2px 2px $brand-info;

    }
}


/* LOGIN PAGE STYLING.
 * =================== */

/* Hide the page footer on the login page.
 * ---------------------------------------
 * This could be done by removing the footer from the layout/template in the
 * first place, but this is simpler in the first instance. */
#page-login-index footer#page-footer {
    display:none;
}

/* Add border radius, border and box-shadow to login box.
 * ------------------------------------------------------
 * Use brand-colours so they can be overridden by presets/settings. */
#page-login-index {
    .card {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-radius: $border-radius-lg * 2;
        border: $brand-primary solid 4px;
        box-shadow: 6px 6px 3px $brand-info;
        .card-title {
            border-bottom:1px solid $brand-primary;
        }
    }
}

/* Layout styles.
 * ============== */

.side-top, .side-alerts, .side-bottom {
    &[data-region="blocks-column"] {
        width: 100%;
        float:none;
        clear:both;
        background:yellow;
        border:2px solid red;
    }
}
.side-alerts {
    &[data-region="blocks-column"] {
        padding: 0 15px;
        background:green;
        border:2px solid red;
    }
}
.side-main-left, .side-main-right {
    &[data-region="blocks-column"] {
        background:blue;
        border:2px solid red;
        width: auto;
        float:none;
        clear:both;

    }
}

.main-region-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.main-region-content {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }

.side-main-left {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }

.side-main-right {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }
