{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_stagetwo/socialicons

    StageTwo Social Icons display.

    Context variables required for this template:
    * hassocialnetworks
    * hasfacebook
    * has twitter
    * hasgoogleplus
    * haslinkedin
    * hasyoutube
    * hasflickr
    * hasvk
    * haspinterest
    * hasinstagram
    * hasskype
    * haswebsite
    * hasblog
    * hasvimeo
    * hastumblr
    * hassocial1
    * hassocial1icon
    * hassocial2
    * hassocial2icon
    * hassocial3
    * hassocial3icon
}}

{{#hassocialnetworks}}
    <div class="socials_wrapper">
        <ul class="socials">
            {{#hasfacebook}}
                <a href = {{{hasfacebook}}} class = "socialicon blog" title = "{{{hasfacebook}}}" alt="{{{hasfacebook}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasfacebook}}}</span>
                </a>
            {{/hasfacebook}}

            {{#hastwitter}}
                <a href = {{{hastwitter}}} class = "socialicon blog" title = "{{{hastwitter}}}" alt="{{{hastwitter}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hastwitter}}}</span>
                </a>
            {{/hastwitter}}

            {{#haswebsite}}
                <a href = {{{haswebsite}}} class = "socialicon blog" title = "{{{haswebsite}}}" alt="{{{haswebsite}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-globe fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{haswebsite}}}</span>
                </a>
            {{/haswebsite}}

            {{#hasgoogleplus}}
                <a href = {{{hasgoogleplus}}} class = "socialicon blog" title = "{{{hasgoogleplus}}}" alt="{{{hasgoogleplus}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasgoogleplus}}}</span>
                </a>
            {{/hasgoogleplus}}

            {{#haslinkedin}}
                <a href = {{{haslinkedin}}} class = "socialicon blog" title = "{{{haslinkedin}}}" alt="{{{haslinkedin}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{haslinkedin}}}</span>
                </a>
            {{/haslinkedin}}

            {{#hasyoutube}}
                <a href = {{{hasyoutube}}} class = "socialicon blog" title = "{{{hasyoutube}}}" alt="{{{hasyoutube}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-youtube fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasyoutube}}}</span>
                </a>
            {{/hasyoutube}}

            {{#hasblog}}
                <a href = {{{hasblog}}} class = "socialicon blog" title = "{{{hasblog}}}" alt="{{{hasblog}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-bookmark fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasblog}}}</span>
                </a>
            {{/hasblog}}

            {{#hasvimeo}}
                <a href = {{{hasvimeo}}} class = "socialicon blog" title = "{{{hasvimeo}}}" alt="{{{hasvimeo}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-vimeo-square fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasvimeo}}}</span>
                </a>
            {{/hasvimeo}}

            {{#hasflickr}}
                <a href = {{{hasflickr}}} class = "socialicon blog" title = "{{{hasflickr}}}" alt="{{{hasflickr}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-flickr fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasflickr}}}</span>
                </a>
            {{/hasflickr}}

            {{#haspinterest}}
                <a href = {{{haspinterest}}} class = "socialicon blog" title = "{{{haspinterest}}}" alt="{{{haspinterest}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{haspinterest}}}</span>
                </a>
            {{/haspinterest}}

            {{#hastumblr}}
                <a href = {{{hastumblr}}} class = "socialicon blog" title = "{{{hastumblr}}}" alt="{{{hastumblr}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-tumblr fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hastumblr}}}</span>
                </a>
            {{/hastumblr}}

            {{#hasinstagram}}
                <a href = {{{hasinstagram}}} class = "socialicon blog" title = "{{{hasinstagram}}}" alt="{{{hasinstagram}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-instagram fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasinstagram}}}</span>
                </a>
            {{/hasinstagram}}

            {{#hasvk}}
                <a href = {{{hasvk}}} class = "socialicon blog" title = "{{{hasvk}}}" alt="{{{hasvk}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-vk fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasvk}}}</span>
                </a>
            {{/hasvk}}

            {{#hasskype}}
                <a href = {{{hasskype}}} class = "socialicon blog" title = "{{{hasskype}}}" alt="{{{hasskype}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-skype fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hasskype}}}</span>
                </a>
            {{/hasskype}}

            {{#hassocial1}}
                <a href = {{{hassocial1}}} class = "socialicon blog" title = "{{{hassocial1}}}" alt="{{{hassocial1}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-{{{social1icon}}} fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hassocial1}}}</span>
                </a>
            {{/hassocial1}}

            {{#hassocial2}}
                <a href = {{{hassocial2}}} class = "socialicon blog" title = "{{{hassocial2}}}" alt="{{{hassocial2}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-{{{social2icon}}} fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hassocial2}}}</span>
                </a>
            {{/hassocial2}}

            {{#hassocial3}}
                <a href = {{{hassocial3}}} class = "socialicon blog" title = "{{{hassocial3}}}" alt="{{{hassocial3}}}">
                <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-{{{social3icon}}} fa-inverse fa-stack-1x"></i>
                </span>
                <span class="sr-only">{{{hassocial3}}}</span>
                </a>
            {{/hassocial3}}

        </ul>
    </div>
{{/hassocialnetworks}}
